BasedOnStyle: Google
Language: Cpp
Standard: Latest

ColumnLimit: 120

MaxEmptyLinesToKeep: 1

# see https://clang.llvm.org/docs/ClangFormatStyleOptions.html
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Never
AllowShortBlocksOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

RequiresClausePosition: OwnLine
PackConstructorInitializers: NextLine
BreakTemplateDeclarations: Yes
SeparateDefinitionBlocks: Always

AlignTrailingComments:
  Kind: Never

IncludeBlocks: Regroup
IncludeCategories:
  - Regex: "^<[a-z_]+>"
    Priority: 1
  - Regex: "^<.+>"
    Priority: 2
  - Regex: "^\""
    Priority: 3
SortIncludes:
  Enabled: true
  IgnoreCase: true
