BasedOnStyle: LLVM
Language: Cpp
Standard: Latest

ColumnLimit: 120

IndentWidth: 4
ContinuationIndentWidth: 4
AccessModifierOffset: -2

BreakBeforeBraces: Attach
AlignAfterOpenBracket: false
BreakTemplateDeclarations: Yes

AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: OnePerLine

PackConstructorInitializers: CurrentLine
ConstructorInitializerIndentWidth: 4

AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Never
AllowShortBlocksOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left

EmptyLineBeforeAccessModifier: LogicalBlock
EmptyLineAfterAccessModifier: Never

SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: true
SpaceBeforeParens: ControlStatements

IncludeBlocks: Regroup
IncludeCategories:
  - Regex: "^<[a-z_]+>"
    Priority: 1
  - Regex: "^<.+>"
    Priority: 2
  - Regex: "^\""
    Priority: 3
SortIncludes:
  Enabled: true
  IgnoreCase: true

AlignTrailingComments:
  Kind: Never